[Desktop Entry]
Type=Application
Name=NVIDIA GPU Manager
Comment=Monitor and control an NVIDIA GPU
Exec=nvidia-gpu-manager
Icon=nvidia-settings
Terminal=false
Categories=System;Monitor;
